<!DOCTYPE html>
<html>
 <head>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <title>twitter</title>
 </head>
 <body>
  <h1>
    <img id="bird" src="http://www.ultimatesoftware.com/images/twitter_logo_blue.png"> 
   </h1>
   <form action="/tweet" method= "post">
     <input type="text" name="sentence">
     <input type="submit" name="submit" value= "post">
   </form>
   
   
 </body>
</html>